name: DEPLOY

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:
  push-to-dockerhub-and-gcp:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- Docker Hub ---
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lawyermanagement:latest

      # --- Google Artifact Registry ---
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev

      - name: Build and Push to Artifact Registry
        run: |
          docker build -t europe-west1-docker.pkg.dev/${{ secrets.GOOGLE_PROJECT }}/lawyermanagement/backend:latest ./backend
          docker push europe-west1-docker.pkg.dev/${{ secrets.GOOGLE_PROJECT }}/lawyermanagement/backend:latest
